# Rename this file to .env and remove these quoted lines if you intend to use it
# See set.js on how to set values
PREFIX=.
API_KEY=gifted-md
SESSION_ID=
BOT_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃
BOT_PIC=https://files.giftedtech.my.id/file/gifted-md.jpg
AUTO_READ_STATUS=true
AUTO_LIKE_STATUS=true
AUTO_LIKE_EMOJI=💜
AUTO_REPLY_STATUS=false
STATUS_REPLY_MSG=✅️ Status Viewed by Gifted-Md!
ANTICALL=false
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=public
WELCOME=false
GOODBYE=false
AUTO_READ_MESSAGES=false
PRESENCE=online
OWNER_NAME=𝐆𝐈𝐅𝐓𝐄𝐃 𝐓𝐄𝐂𝐇
OWNER_NUMBER=
SUDO_NUMBERS=
AUTO_AUDIO=false
BAD_WORDS=fuck,pussy,anus,idiot
ANTIBAD=false
AUTO_BIO=false
AUTO_BIO_QUOTE=Coding is a good thing
CHAT_BOT=false
AUTO_BLOCK=212,98,77
AUTO_REACT=false
PACK_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃💜
PACK_NAME=𝐆𝐈𝐅𝐓𝐄𝐃 𝐓𝐄𝐂𝐇
TIME_ZONE=Africa/Nairobi
